@font-face {
  font-family: Questrial;
  src: url("../fonts/Questrial-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

#root {
    -fx-background-image: url("../img/background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: left top, center;
    -fx-background-size: cover;
    -fx-font-family: 'Roboto';
}

#paneSmall {
    -fx-background-color: white;
    -fx-border-style: dotted;
    -fx-border-color: black;
    -fx-border-radius: 10pt;
    -fx-padding: 35pt;
    -fx-max-width: 300pt;
    -fx-max-height: 500pt;
    -fx-spacing: 20px;
    -fx-content-alignment: center;
}

#paneLarge {
    -fx-background-color: white;
    -fx-border-style: dotted;
    -fx-border-color: black;
    -fx-border-radius: 10pt;
    -fx-padding: 35pt;
    -fx-spacing: 20px;
    -fx-content-alignment: center;
}

#title {
    -fx-font-family: "Questrial";
    -fx-font-size: 35pt;
}

#info {
    -fx-font-size: 10pt;
}

#header {
    -fx-font-size: 20pt;
}

#input {
    -fx-max-width: 300pt;
}

#btn-default-small {
    -fx-background-color: #309de6;
    -fx-text-fill: white;
}

#btn-default-small:hover {
    -fx-background-color: #58bbfc;
}

#btn-default-small:pressed {
    -fx-background-color: #2475ab;
}

#btn-default-large {
    -fx-background-color: #309de6;
    -fx-text-fill: white;
    -fx-font-size: 15pt;
}

#btn-default-large:hover {
    -fx-background-color: #58bbfc;
}

#btn-default-large:pressed {
    -fx-background-color: #2475ab;
}

#btn-error-large {
    -fx-background-color: #f2190a;
    -fx-text-fill: white;
    -fx-font-size: 15pt;
}

#btn-error-large:hover {
    -fx-background-color: #ff6459;
}

#btn-error-large:pressed {
    -fx-background-color: #bf2217;
}

#txt {
    -fx-font-size: 15pt;
}

#txt:focused {
    -fx-prompt-text-fill: gray;
}

#error {
    -fx-text-fill: red;
}